<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <section>
  <h1>Admin Dashboard</h1>
  <div class = "dashboard-actions">
    <p><a href="/admin/dashboard/createAdmin">Create Admin</a></p>

   <form action="/logout" method="GET">
     <button type="submit" class="logout-button">Logout</button>
    </form>

    <a href="/rooms/addRoomForm" class="add-room-button">Add Room</a>

   
  </div>
  <div class="rooms-container">
      {{#each rooms}}
      <div class="room-card">
        <img src="{{imageURL}}" alt="{{roomName}}" class="room-image" />
        <div class="room-details">
          <h2>{{roomName}}</h2>
          <p><strong>Balcony:</strong> {{#if balcony}}Yes{{else}}No{{/if}}</p>
          <p><strong>Pricing Per Night:</strong> ${{pricingPerNight}}</p>
          <p><strong>Bed Sizes:</strong> 
            {{#each bedSizes}}
              {{@key}}: {{this}}<br>
            {{/each}}
          </p>
          <div class="action-buttons">
            <a href="/rooms/{{_id}}/bookingRoom" class="book-now-button">Book</a>
            <a href="/admin/editRoom/{{_id}}" class="edit-button">Edit</a>
            <form action="/rooms/{{_id}}?_method=DELETE" method="POST">
                <button type="submit" class="delete-button">Delete</button>
            </form>
            <form action="/admin/{{_id}}/toggleStatus" method="POST">
            <button type="submit">
                {{#if (eq status 'ready')}}Mark Unavailable{{else}}Mark Available{{/if}}
            </button>
            </form>
            {{!-- <form action="/rooms/{{_id}}/outOfService" method="POST">
                <button type="submit" class="out-of-service-button">Out of Service</button>
            </form> --}}
            
        </div>

        </div>
      </div>
      {{/each}}
    {{!-- {{else}}
      <p>No rooms available.</p>
    {{/if}} --}}
  </div>
</section>

</body>
</html>


<script src="/public/js/admin_dash.js" defer></script>