<section>
  <h1>Rooms</h1>
  {{#each rooms}}
  <article class="room">
    <h2><a href="/rooms/{{_id}}">{{roomName}}</a></h2>
    <ul>
      <li><strong>Number of Rooms:</strong> {{numRooms}}</li>
      <li><strong>Balcony:</strong> {{#if balcony}}Yes{{else}}No{{/if}}</li>
      <li>
        <strong>Bed Sizes:</strong>
        <ul>
          {{#each bedSizes}}
          <li>{{@key}}: {{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li><strong>Pricing Per Night:</strong> ${{pricingPerNight}}</li>
      <li>
        <strong>Availability:</strong>
        <ul>
          {{#each availability}}
          <li>{{@key}}: {{#if this}}Available{{else}}Not Available{{/if}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </article>
  {{/each}}
</section>
